@font-face {
    font-family: "gw2";
    src: url("gwtwofont.ttf");
}
body{
    background-color: #60463B;
    margin: 0;
    font-family: 'gw2','Helvetica','Arial';
    background-image: url('bggw2.png');
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: #2E3138;
    color: #CCC9E7;
    padding-bottom: 1rem;
    opacity: 0.8;
}
h1{
    text-align: center;
    font-size:4rem;
    margin: 0;
    padding: 1rem;
}
h2{
    text-align: center;
}
nav{
    background-color: #2E3138;
    position: sticky;
    top: 0;
    opacity: 0.8;
    z-index: 9999;
}
nav ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
    justify-content: center;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    box-shadow: 0px 0px 11px 0px #000000;
    min-width: 200px;
}
nav ul li a{
    margin:1rem;
    padding:1rem;
    text-decoration: none;
    color: #CCC9E7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: inline-block;
}
nav ul li:hover{
    background-color: #CCC9E7;
    color: #2E3138;
}
nav ul li:hover a{
    color: #2E3138;
}
.quests{
    display:flex;
    flex-direction: row;
}
.quests div{
    width: 50vw;
}
.daily , .tomorrow, figure{
    margin: 1rem;
    padding: 1rem;
    background-color: #CCC9E7;
    color: #2E3138;
    font-family: 'Arial';
    opacity: 0.8;
    box-shadow: 0px 0px 11px 0px #000000;
    border-radius: 20px;
    background-image: url('gw2logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
figure{
    text-align: center;
}
.priceItem{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}
fieldset{
    border:0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.radioBtn{
    display: none;
}
.radioBtn + label{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #CCC9E7;
    background-color: #2E3138;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 11px 0px #000000;
}
.radioBtn:hover + label{
    color:#2E3138;
    background-color: #CCC9E7;
}
.radioBtn:checked + label{
    color:#2E3138;
    background-color: #CCC9E7;
}
#bankBody{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#bankBody #bank{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#bankBody #bank .item{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: #CCC9E7;
    margin: 1rem;
    padding: 1rem;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 0px 0px 11px 0px #000000;
    background-image: url('gw2logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#bankBody #bank .item img{
    order: 1;
    width: 128px;
    margin: 0 auto;
}
#bankBody #bank .item h3{
    order: 3;
    width: 256px;
    margin: 10px auto;
    text-align: center;
    font-family: 'Arial';
}
#bankBody #bank .item h5{
    order: 4;
    width: 256px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Arial';
}
#bankBody #bank .item h6{
    order: 2;
    text-align: center;
    font-size: x-large;
    margin: 0;
}
#sharedInventory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem 0;
    background-color: #2E3138;
    opacity: 0.8;
}
#inventoryBody h2{
    font-family: Arial, Helvetica, sans-serif;
}
.sharedItem{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #CCC9E7;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 0px 0px 11px 0px #000000;
    background-image: url('gw2logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.sharedItem h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    order: 3;
    width: 128px;
}
.sharedItem h5{
    order: 2;
    text-align: center;
}
.sharedItem img{
    width: 128px;
    order: 1;
    margin: 0 auto;
}
.noImg{
    background-color: #CCC9E7;
    width: 128px;
    height: 128px;
    background-image: url('gw2logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #2E3138;
}
.character{
    background-color: #CCC9E7;
    opacity: 0.8;
    margin: 2em;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    background-image: url('gw2logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.character:before{
    content: '';
    display: block;
    height: 15em;
}
.character button{
    padding: 1rem;
    display: inline-block;
    margin: 0 auto;
}
.inventory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #2E3138;
}
.item h2{
    order: 3;
    text-align: center;
    font-size: medium;
    width: 128px;
}
.item img{
    order: 1;
    width: 128px;
    margin: 0 auto;
}
.item h5{
    order: 2;
    text-align: center;
    font-size: medium;
}